<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{margin: 0;padding: 0;box-sizing: border-box;}
        ul,li{list-style: none;}
        .tab{display: flex; gap: 10px;}
        .tab li{
            width: 100px; height: 40px;
            display: flex;justify-content: center;align-items: center;
            border-radius: 10px; cursor: pointer; 
        }
        .tab li.active{background: pink;}
        .tab li:hover{background: pink;}
    </style>
</head>
<body>
    <div id="app">
        <ul class="tab">
            <!-- 뷰에서 어떤거랑 엮으려면 v-bind 처리, {active:tab==1}등 필요하면 ,해서 줄줄 써분다. -->
            <!-- <li @click="tab=1" v-bind:class="{active:tab==1}">tab1</li> / v-bind:class에서 "v-bind는 빼도 됨"-->
            <li @click="tab=1" v-bind:class="{active:tab==1}">tab1</li>
            <li @click="tab=2" :class="{active:tab==2}">tab2</li>
            <li @click="tab=3" :class="{active:tab==3}">tab3</li>
        </ul>
        <div class="content">
            <div v-if="tab==1">
                1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, laboriosam!
            </div>
            <div  v-if="tab==2">
                1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, laboriosam!
            </div>
            <div  v-if="tab==3">
                3. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, laboriosam!
            </div>
        </div>
        {{tab}}
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const TabView = {
            data(){
                return {
                    tab:1,
                    active:"on"
                }
            }
        }

        Vue.createApp(TabView).mount("#app")
    </script>

    
</body>
</html>